body {
    background-color: rgb(26, 26, 53);
    margin: auto;
    color: white;
    padding: 80px;
}

h1 {
    color: rgb(149, 149, 199);
}

p {
    margin-bottom: 0;
}

.block_response {
    color: rgb(26, 26, 53);
    border-radius: 6px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.block_options {
    border-radius: 6px;
}

.button_invia {
    padding: 7px 12px;
    margin-top: 20px;
    border: none;
    background-color: rgb(21, 93, 216);
    border-radius: 7px;
    color: white;

}